/* colors.rasi */
/* author: Klejdi Janari (klejdiLOL) */
/* OpenMandriva */
/* https://forum.openmandriva.org/ */
/* Location: ~/.config/polybar/scripts/rofi/colors.rasi */

/* colors */

* {
  al:   #21242B;
  bg:   #282A2E;
  bga:  #373B41;
  fga:  #C5C8C6;
  fg:   #C5C8C6;
  ac:   #CC2263;
}
